~~~
~~ #%L
~~ Nuiton Version
~~ %%
~~ Copyright (C) 2016 CodeLutin
~~ %%
~~ This program is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU Lesser General Public License as 
~~ published by the Free Software Foundation, either version 3 of the 
~~ License, or (at your option) any later version.
~~ 
~~ This program is distributed in the hope that it will be useful,
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Lesser Public License for more details.
~~ 
~~ You should have received a copy of the GNU General Lesser Public 
~~ License along with this program.  If not, see
~~ <http://www.gnu.org/licenses/lgpl-3.0.html>.
~~ #L%
~~~
                                ----
                            Nuiton Version
                                ----
                                ----
                             2016-01-10
                                ----


Présentation

  Ensemble de classes autour de la notion de version.

Migration depuis nuiton-utils

  Utiliser le nouvel artifact

-------------
  <dependency>
    <groupId>org.nuiton</groupId>
    <artifactId>nuiton-version</artifactId>
    <version>${project.version}</version>
    <scope>compile</scope>
  </dependency>
-------------

  Appliquer ce script à la racine du projet

-------------
  for f in $(grep -m 1 -I -nr 'util.version.Version' | cut -d':' -f1); do \
    echo $f ; sed -i -e 's/util.version/version/g' $f ; \
  done
-------------

